<h1 class="sr-only"><%= current_page.data.title || "PigCI" %></h1>

<div class="container pb-2 pt-3">
  <nav class="navbar navbar-light px-0">
    <a href="/" class="navbar-brand ml-auto mr-auto">
      <%= image_tag('logo_pigci.svg', width: 54, height: 50, class: 'd-inline-block align-middle', alt: "PigCI Logo - It's a pink pig.") %>
      <span class="pigci-brand d-inline-block align-middle">PigCI</span>
    </a>
  </nav>
  </nav>
</div>
