<h1>Contact Typo CI</h1>

<p>Typo CI is ran by a solo founder (Mike Rogers). Want to get in touch? Awesome!</p>

<p>If your project is Open Source on GitHub &amp; you'd like assistance, please <a href="https://github.com/mikerogers0/" target="_blank" rel="noopener">mention <strong>@MikeRogers0</strong></a> in a comment, it's the best way to get help quickly.</p>

<p>Alternatively, you can <a href="https://twitter.com/MikeRogers0" target="_blank" rel="noopener">send me a Tweet</a> or drop me <a href="mailto:support@typoci.com?subject=Typo+CI+Support">an email</a>.</p>
