<h1>Incident Response Policy</h1>

<p>Last Updated: 3rd January, 2020</p>

<p>This document is an adaptation of the <a href="https://imgbot.net/incident-response/">ImgBot Data Breach Response Policy</a>, which is an adaptation of the Data Breach Response Policy created for the <%= link_to 'SANS Institute', 'https://www.sans.org/security-resources/policies/general/pdf/data-breach-response' %>. Feel free to modify or use for your organization. If you have a policy to contribute, please send e‐mail to <%= mail_to 'stephen@sans.edu' %>.</p>

<h2>1.0 Purpose</h2>

<p>The purpose of the policy is to establish the goals and the vision for the breach response process. This policy will clearly define to whom it applies and under what circumstances, and it will include the definition of a breach, staff roles and responsibilities, standards and metrics (e.g., to enable prioritization of the incidents), as well as reporting, remediation, and feedback mechanisms. The policy shall be well publicized and made easily available to all personnel whose duties involve data privacy and security protection.</p>

<p>Typo CI's Information Security's intentions for publishing a Data Breach Response Policy are to focus significant attention on data security and data security breaches and how Typo CI’s established culture of openness, trust and integrity should respond to such activity. Typo CI's Information Security is committed to protecting Typo CI's employees, partners and the company from illegal or damaging actions by individuals, either knowingly or unknowingly.</p>

<h2>1.1 Background</h2>

<p>This policy mandates that any individual who suspects that a theft, breach or exposure of Typo CI's Protected data or Typo CI's Sensitive data has occurred must immediately provide a description of what occurred via e-mail to <%= mail_to 'support@typoci.com' %>. This e-mail address is monitored by the Typo CI’s Information Security Administrator. This team will investigate all reported thefts, data breaches and exposures to confirm if a theft, breach or exposure has occurred. If a theft, breach or exposure has occurred, the Information Security Administrator will follow the appropriate procedure in place.</p>

<h2>2.0 Scope</h2>

<p>This policy applies to all whom collect, access, maintain, distribute, process, protect, store, use, transmit, dispose of, or otherwise handle personally identifiable information or Protected Health Information (PHI) of Typo CI members. Any agreements with vendors will contain language similar that protects the fund.</p>

<h2>3.0 Policy Confirmed theft, data breach or exposure of Typo CI's Protected data or Typo CI's Sensitive data</h2>

<p>As soon as a theft, data breach or exposure containing Typo CI's Protected data or Typo CI's Sensitive data is identified, the process of removing all access to that resource will begin.</p>

<h3>Confirmed theft, breach or exposure of Typo CI's data</h3>

<p>The Executive Director will be notified of the theft, breach or exposure. IT, along with the designated forensic team, will analyze the breach or exposure to determine the root cause.</p>

<h3>Communication plan</h3>

<p>The Executive Director will decide how to communicate the breach to: a) internal employees, b) the public, and c) those directly affected.</p>

<h2>3.2 Ownership and Responsibilities</h2>

<p>Roles &amp; Responsibilities:</p>

<ul>
  <li>Sponsors - Sponsors are those members of the Typo CI's community that have primary responsibility for maintaining any particular information resource. Sponsors may be designated by any Typo CI's Executive in connection with their administrative responsibilities, or by the actual sponsorship, collection, development, or storage of information.</li>
  <li>Information Security Administrator is that member of the Typo CI's community, designated by the Executive Director or the Director, Information Technology (IT) Infrastructure, who provides administrative support for the implementation, oversight and coordination of security procedures and systems with respect to specific information resources in consultation with the relevant Sponsors.</li>
  <li>Users include virtually all members of the Typo CI's community to the extent they have authorized access to information resources, and may include staff, trustees, contractors, consultants, interns, temporary employees and volunteers.</li>
</ul>

<h2>4.0 Enforcement</h2>

<p>Any Typo CI's personnel found in violation of this policy may be subject to disciplinary action, up to and including termination of employment. Any third party partner company found in violation may have their access to Typo CI terminated.</p>

<h2>5.0 Definitions</h2>

<ul>
  <li><strong>Encryption or encrypted data</strong> – The most effective way to achieve data security. To read an encrypted file, you must have access to a secret key or password that enables you to decrypt it. Unencrypted data is called plain text;</li>
  <li><strong>Plain text</strong> – Unencrypted data.</li>
  <li><strong>Hacker</strong> – A slang term for a computer enthusiast, i.e., a person who enjoys learning programming languages and computer systems and can often be considered an expert on the subject(s).</li>
  <li><strong>Protected Health Information (PHI)</strong> - Under US law is any information about health status, provision of health care, or payment for health care that is created or collected by a "Covered Entity" (or a Business Associate of a Covered Entity), and can be linked to a specific individual.</li>
  <li><strong>Personally Identifiable Information (PII)</strong> - Any data that could potentially identify a specific individual. Any information that can be used to distinguish one person from another and can be used for de-anonymizing anonymous data can be considered</li>
  <li><strong>Protected data</strong> - See PII and PHI</li>
  <li><strong>Information Resource</strong> - The data and information assets of an organization, department or unit.</li>
  <li><strong>Safeguards</strong> - Countermeasures, controls put in place to avoid, detect, counteract, or minimize security risks to physical property, information, computer systems, or other assets. Safeguards help to reduce the risk of damage or loss by stopping, deterring, or slowing down an attack against an asset.</li>
  <li><strong>Sensitive data</strong> - Data that is encrypted or in plain text and contains PII or PHI data. See PII and PHI above.</li>
</ul>
