<section class="jumbotron jumbotron-fluid text-center bg-white">
  <h1 class="display-4">Thank you for Installing Typo CI</h1>
  <p class="lead">Typo CI is now processing your Pull Requests looking for typos &amp; spelling mistakes.</p>
  <p class="lead">Awesome Right‽</p>

  <%= image_tag 'typo-ci-check-suite-sample.png', class: 'rounded mx-auto d-block shadow' %>

  <p class="lead mt-4">Next time you view a PR, you'll see the check has run. Click "Details" and you’ll be taken to a summary of all the spelling mistakes along with suggested alternatives.</p>

  <p class="lead">Please consider reading <%= link_to 'our documentation', documentation_path %> for ways to configure how Typo CI analyses your pull requests.</p>

  <div class="pt-4 d-md-flex justify-content-center">
    <%= link_to "Read Documentation", documentation_path, class: 'btn btn-outline-secondary mb-3 mx-2' %>
  </div>
</section>
