<div class="footer mt-4" id="footer">
  <footer class="container footer__grid">
    <div class="footer__links">
      <div class="h4">Product</div>

      <ul class="list-unstyled">
        <li>
          <a href="https://github.com/TypoCI" target="_blank", rel="noopener">GitHub Organisation</a>
        </li>
        <li>
          <a href="https://github.com/TypoCI/spellcheck-action" target="_blank", rel="noopener">GitHub Action</a>
        </li>
        <li>
          <a href="/documentation">Documentation</a>
        </li>
      </ul>
    </div>

    <div class="footer__links">
      <div class="h4">Contact Me</div>

      <ul class="list-unstyled">
        <li>
          <a href="https://twitter.com/MikeRogers0" target="_blank", rel="noopener">Twitter</a>
        </li>
        <li>
          <a href="https://github.com/MikeRogers0" target="_blank", rel="noopener">GitHub</a>
        </li>
      </ul>
    </div>

    <div class="footer__credits">
      <p>Typo CI was created by <a href="https://mikerogers.io/" target="_blank", rel="noopener">Mike Rogers</a> <br />&copy; {{ "now" | date: "%Y" }} Typo CI</p>
    </div>
  </footer>
</div>
