<div class="footer mt-4" id="footer">
  <footer class="container footer__grid">
    <div class="footer__links">
      <div class="h4">Product</div>

      <ul class="list-unstyled">
        <li>
          <a href="https://github.com/marketplace/typo-ci" target="_blank", rel="noopener">Add via GitHub Marketplace</a>
        </li>
        <li>
          <a href="https://github.com/marketplace/actions/typo-ci-spellcheck-action" target="_blank", rel="noopener">GitHub Action</a>
        </li>
        <li>
          <a href="/documentation">Documentation</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>

    <div class="footer__links">
      <div class="h4">Legal</div>

      <ul class="list-unstyled">
        <li>
          <a href="/privacy-policy">Privacy Policy</a>
        </li>
        <li>
          <a href="/terms-of-service">Terms of Service</a>
        </li>
        <li>
          <a href="/cookie-policy">Cookie Policy</a>
        </li>
        <li>
          <a href="/subprocessors">Subprocessors</a>
        </li>
        <li>
          <a href="/vulnerability-management-policy">Vulnerability Management Policy</a>
        </li>
        <li>
          <a href="/incident-response-policy">Incident Response Policy</a>
        </li>
      </ul>
    </div>

    <div class="footer__credits">
      <p>Typo CI was created by <a href="https://mikerogers.io/" target="_blank", rel="noopener">Mike Rogers</a> <br />&copy; {{ "now" | date: "%Y" }} Typo CI</p>
    </div>
  </footer>
</div>
