<header class="container header" id="header">
    <div class="header__logo">
      <a href="/" class="h4 logo__link">
        <img src="/images/typo-ci-logo.svg" width="48" class="logo__image" alt="Typo CI Logo - It's a sword surrounded by brackets" />
        <span class="logo__brand">Typo CI</span>
      </a>
    </div>
    <div class="header__action">
      <a href="https://github.com/marketplace/typo-ci-spellcheck-commits-and-prs" class="btn btn-primary">
        <div>Get Started</div>
      </a>
    </div>
</header>
